* {
    margin: 0; padding: 0;
}

html {
    height: 100%;
    font-family: 'Minecraft', sans-serif;
}

body {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
}

#main {
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 768px;
    background-color: white;

}

canvas {
    position: absolute;
    border: 2px solid black;
}

@font-face {
    font-family: 'Minecraft';
    src: url('assets/font/Minecraft-Bold.otf') format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Minecraft';
    src: url('assets/font/Minecraft.otf') format('opentype');
    font-weight: 400;
}